aiohttp==3.8.6 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
alembic==1.12.0 ; python_version >= "3.11" and python_version < "4.0"
anthropic==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
anyio==3.7.1 ; python_version >= "3.11" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.11" and python_version < "4.0"
async-generator==1.10 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.11" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
bidict==0.22.1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
cloudpickle==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
coverage==7.4.0 ; python_version >= "3.11" and python_version < "4.0"
dataclasses-json==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
distro==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
docopt==0.6.2 ; python_version >= "3.11" and python_version < "4.0"
fastapi==0.96.1 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.12.4 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2023.9.2 ; python_version >= "3.11" and python_version < "4.0"
greenlet==3.0.0 ; python_version >= "3.11" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==20.1.0 ; python_version >= "3.11" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==0.17.3 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.11" and python_version < "4.0"
huggingface-hub==0.17.3 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==6.8.0 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
jsonpatch==1.33 ; python_version >= "3.11" and python_version < "4.0"
jsonpointer==2.4 ; python_version >= "3.11" and python_version < "4.0"
langchain-experimental==0.0.40 ; python_version >= "3.11" and python_version < "4.0"
langchain==0.0.334 ; python_version >= "3.11" and python_version < "4.0"
langsmith==0.0.63 ; python_version >= "3.11" and python_version < "4.0"
litellm==0.11.1 ; python_version >= "3.11" and python_version < "4.0"
mako==1.2.4 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
numpy==1.25.2 ; python_version >= "3.11" and python_version < "4.0"
openai==0.28.1 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.11" and python_version < "4.0"
pipdeptree==2.13.1 ; python_version >= "3.11" and python_version < "4.0"
pipreqs==0.4.13 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.11" and python_version < "4.0"
psutil==5.9.6 ; python_version >= "3.11" and python_version < "4.0"
pydantic==1.10.13 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
python-engineio==4.8.0 ; python_version >= "3.11" and python_version < "4.0"
python-multipart==0.0.5 ; python_version >= "3.11" and python_version < "4.0"
python-socketio==5.10.0 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
redis==4.6.0 ; python_version >= "3.11" and python_version < "4.0"
reflex-hosting-cli==0.1.4 ; python_version >= "3.11" and python_version < "4.0"
reflex==0.3.7 ; python_version >= "3.11" and python_version < "4.0"
regex==2023.10.3 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
rich==13.6.0 ; python_version >= "3.11" and python_version < "4.0"
setuptools==68.2.2 ; python_version >= "3.11" and python_version < "4.0"
simple-websocket==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "4.0"
sqlalchemy==2.0.23 ; python_version >= "3.11" and python_version < "4.0"
sqlmodel==0.0.14 ; python_version >= "3.11" and python_version < "4.0"
starlette-admin==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.27.0 ; python_version >= "3.11" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "4.0"
tiktoken==0.5.1 ; python_version >= "3.11" and python_version < "4.0"
tokenizers==0.14.1 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.11" and python_version < "4.0"
typer==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.0.6 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.20.0 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.24.0.post1 ; python_version >= "3.12" and python_version < "4.0"
watchdog==2.3.1 ; python_version >= "3.11" and python_version < "4.0"
watchfiles==0.19.0 ; python_version >= "3.11" and python_version < "4.0"
websockets==10.4 ; python_version >= "3.11" and python_version < "4.0"
wikipedia==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
wrapt==1.15.0 ; python_version >= "3.11" and python_version < "4.0"
wsproto==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
yarg==0.1.9 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.11" and python_version < "4.0"
youtube-search==2.1.2 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.17.0 ; python_version >= "3.11" and python_version < "4.0"
